/* CSS Principal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: $secondary;
    font-family: $secondaryFont;
}
ul{
    list-style: none;
        a{
        text-decoration: none;
        color: $primary;
        text-transform: uppercase;
        }
}
.nav{
    display: flex;
    margin-left: 50%;
    font-size: 13px;
    padding: 10px;
}
.icon{
    padding-left: 2%;
    font-weight: bold; 
    font-size: 140%;
}
footer{
    background-color: $secondary;
    font-family: $primaryFont;
}
.redes{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $secondary;
        
}.redes__icons{
            display: flex;
            align-items: center;
        
            a img{
            padding: 5%;
            width: 60%;
            }
            a img:hover{
                width: 80%;
            }
}
.terminos{
    display: flex;
    text-align: right;
}

.zoom :hover{
    font-size: 16px;
}/*  Fin CSS Principal*/


/*Index CSS */
.hero{
    display: flex;
    background-color: $primary;
}
.hero__text{
    padding: 30px;
    color: $secondary;
        h2{
            text-align: center; 
            font-family: $primaryFont;
            font-size: 300%;
        }
        p{
            text-align: center;
            font-family: $secondaryFont;
            padding-top: 5%;
        }
}
/* Fin IndexCSS */                                              

/*Musica CSS */
.musica{
    background: $primary;
    color: $secondary;
        h3{
            font-family: $primaryFont;
            font-size: 300%;
        }
}

.discos__recientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5%;
}
.discos__antiguos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5%; 
}
.exitos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Fin Musica CSS  */

/*Biografia CSS prox*/
.article{
    padding: 20px 30px;
    background-color: $primary;
        h1{
            color: $secondary;
            font-weight: bold;
            font-family: $primaryFont;
        }
        h2{
            color: $secondary;
            font-weight: bold;
            font-family: $primaryFont;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        p{
            color: $secondary;
            font-family: $secondaryFont;
        }
        .article-iframe{
            width: 100%;
            height: 500px;
        }
}
/*Galeria Css*/
a{
    text-decoration: none;
    color: $primary;
    text-transform: uppercase;  
}

.galeria__fotos{
    background-color: $primary;  
        h2{
            color: $secondary;   
            font-family: $primaryFont; 
            padding: 2%;
            font-size: 260%;
        }
}
.galeria__carousel{
    background-color: $primary;
        .container{
            padding: 5%;
        }
}

.galeria__videos{
    background-color:  $primary;
        h2{
            color: $secondary;
        font-family: $primaryFont;
        padding: 2%;
        font-size: 260%;
        }
}
.color{
    font-family: $secondaryFont;
    background:  $primary;
}
.grid-container{
    width: auto;
    height: 1500px;
    display: grid;
    grid-template-columns: 1.1fr 2.1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "grid__left grid__right"
        "grid__bottom grid__bottom"
}
.grid_left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ".";
    grid-area: grid__left;
}
.grid__bottom{
    grid-area: grid__bottom ; 
}
.grid__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "grid__rightTop"
        "grid__rightBottom";
    grid-area: grid__right;
}
.grid__rightTop { 
    grid-area: grid__rightTop; 
}
.grid__rightBottom { 
    grid-area: grid__rightBottom; 
}
.grid__left{
    background: url("../img/galeria/left-top.jpg");
    background-size: cover;
    background-position: 50%;
}
.grid__rightTop{
    background:url("../img/galeria/cneter-topt.jpg") ;
    background-size: cover;
}
.grid__rightBottom{
    background:url("../img/galeria/center-botom.jpg") ;
    background-size: cover;
}
.grid__bottom{
    background:url("../img/galeria/bottom-center.jpg") ;
    background-size: cover;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}/*Fin Galeria Css*/

/*Tour CSS*/
.tour{
    background-color: $primary;
}
.img-tour{
    width: 100%;
    background-color: $primary;
}
.tour__info{
    margin: 20px;
}
.tickets{
    color: brown;
    text-align: center;
    border-top: 0.1px solid red ;
    padding: 5% 0px;
    font-family: $primaryFont;
}.date{
    text-transform: uppercase;
    font-size: 10px;
    text-align: left;
}
.place{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}
.field{
    text-transform: uppercase;
    padding-bottom: 2%;
}
.ticket a{
    text-align: right;
    color: red;
    font-size: 12.5px;
    background-color:  $primary;
    border: 1px solid red;
}
.ticket :hover{
    padding: 2%;
    color: $secondary;
    border: 1px solid $secondary;
}/*Fin Tour CSS*/

/*Contacto CSS*/
.contact{
    padding: 40px;
    background-color: $tertiary;
        h2{
            text-align: center;
            color: $secondary;
            font-family: $secondaryFont;
            font-weight: bold;
            font-size: 350%;
        }
}
.contact__form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact__text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: $secondary;
    padding: 20px 40px;
    outline: none;
    color: $primary;
    font-family: $secondaryFont;
        textarea{
            resize: none;
            height: 120px;
        }
}
.contact__btn{
    float: right;
    border: 0;
    background: $primary;
    padding: 12px 50px;
    border-radius: 20px;
    color: $secondary;
}
/* Responsive CSS*/
@media screen and (max-width: 770px) {
    .hero{
        display: block;
    }
    .hero__img img{
        width:100%;
    }
    .discos__recientes{
        display: flex;
        justify-content: center;
    }
    .discos__antiguos{
        display: flex;
        justify-content: center;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "grid__left"
        "grid__right"
        "grid__bottom"
        ;
        .grid__left{
            grid-area: grid__left ;
            background-position-y: 20%;
        }
        .grid__right{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "grid__rightTop"
                "grid__rightBottom";
            grid-area: grid__right;
        }
        .grid__rightBottom{
            grid-area: grid__rightBottom ;  
            background-position: 50%;
        }
        .grid__rightTop{
            grid-area: grid__rightTop ;
            background-position: 50%;
        }
        .grid__bottom{
            grid-area: grid__bottom ;
            background-position: 60%;
        }
    }
}